$font-color-1: 19323c;
$song-font-color: 5d7e8b;
$button-border-color: A93F55;

.playlist-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  #playlist-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    margin-bottom: -30px;
    color: $font-color-1;
  }
  ul {
    list-style: none;
    width: 100%;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: 800;
    margin-right: 25px;
  }
  .song-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    margin-bottom: -10px;
  }
  .song-line-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -20px;
  }
  .line1-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(24, 24, 133);
    font-size: 11px;
  }
  .line1-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  button {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 8px;
    background-color: rgb(169, 63, 85);
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    border: white;
    border-radius: 2px;
    box-shadow: 2px 2px 1px black;
  }
}
